.activity-feed {
  padding: 1.3rem;
  height: 100%;
  box-sizing: border-box;
}

.activity-feed__top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-buttons,
.right-buttons {
  display: flex;
  gap: 1.25rem;
  position: relative;
}

.activity-feed-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-family: proxima-nova;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 4px;
  width: 7.5em;
  height: 2.6em;
  border: solid 1px;
  cursor: pointer;
}

.activity-feed-button--person {
  color: var(--white);
  border-color: var(--blue);
  background-color: var(--blue);
}

.activity-feed-button--person::after {
  content: '';
  height: 100%;
  width: 1px;
  background-color: var(--grey-lightest);
  position: absolute;
  top: 0;
  right: calc(50% - 1px);
}

.activity-feed-button--activity {
  color: var(--grey-darkest);
  border-color: var(--grey-lightest);
  background-color: var(--white);
}

.activity-feed-secondary-button {
  display: flex;
  width: 7.5rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
  border: none;
  color: var(--blue);
  font-family: 'proxima-nova';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}

.past-activities {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.upcoming-activities__title,
.past-activities__title {
  font-family: proxima-nova;
  font-size: 18px;
  line-height: 1;
  font-weight: normal;
  color: var(--grey-dark);
}

.upcoming-activities__empty-text,
.past-activities__empty-text {
  font-family: proxima-nova;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--grey-dark);
  text-align: center;
  margin: 1.2em 0;
}

/* this two rules are here as a "Quick Fix" the icon's positioning is not centered, 
and their sizes don't match so a single padding won't do.
so even tho they're aligned, it doesn't look right
probably the best solution would be to modify the icons so they're centered. 
but i don't want to touch those components.*/

/* Later i would fix a similar issue by using display flex and centering the icon,
but at the moment of this fix, this didn't occur to me. i decided to keep this as is 
in order to focus on the rest of the excercise, 
as well as portraying my train of thought accurately */

.activity-feed-secondary-button__plusicon {
  padding-top: 0.6em;
}
.activity-feed-secondary-button__phoneicon {
  padding-top: 0.3em;
}
