.placeholder-panel {
  background-color: var(--bg-grey);
  width: 100%;
  height: 100%;
}

.placeholder-panel.sm {
  height: 6em;
}
.placeholder-panel.md {
  height: 10em;
}
.placeholder-panel.l {
  height: 15em;
}
.placeholder-panel.xl {
  height: 20em;
}
