.page {
  background-color: var(--bg-grey);
  height: 100%;
  overflow-y: scroll;
}

/* 
  currently in css3 you cannot use var()'s in media queries.
  what we can do is media query our root values, so i will define some vars 
  this is normally worked around by using a pre-procesor, since im trying to do 
  this whole exercise with vanilla css. i will not do that here. 

  im using the following breakpoints as defined in theme.js
    --xs: 0;
    --sm: 530px;
    --md: 960px;
    --lg: 1280px;
    --xl: 1400px; 

  I don't really have a mock guide on how the breakpoints look, so i just went with a basic implementation 
  of 2 steps, 1 column and 3 columns. i briefly made a 2 column middle step but I didn't liked how it looked 
  in the end i think it looks better to have either 1 or 3. 
*/

/* general styles */

.page-layout {
  margin: 1em;
  display: grid;
  gap: 1em;
  align-content: stretch;
  grid-auto-rows: minmax(9.8rem, auto);
}

.layout-right-column,
.layout-left-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* small screens */

.page-layout {
  grid-column: 1;
  grid-row: 1;
}

.page-layout__main-panel {
  grid-column: 1;
  grid-row: 1;
}

/* breakpoint for md screens */
@media screen and (min-width: 960px) {
  .page-layout {
    grid-template-columns: 3fr 6fr 4fr;
    grid-row: 1;
  }

  .page-layout__main-panel {
    grid-column: 2;
    grid-row: 1;
  }
}
