.title-bar {
  background-color: var(--white);
  box-shadow: inset 0px -1px 0px var(--grey-lightest);
  padding: 1em 1.2em;
}

.title-bar__title {
  font-family: proxima-nova;
  font-style: normal;
  color: var(--grey-darkest);
  line-height: 1;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
