.event-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.event-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 100%;
  min-width: 2em;
  height: 2em;
  position: relative;
}

.event-icon .event-icon__background {
  height: 2em;
  width: 2em;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.3rem;
  padding: 1em;
  background: #ffffff;
  border: 1px solid var(--grey-lightest);
  box-sizing: border-box;
  border-radius: 2px;
}

.card-body__content {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.card-dynamic-title {
  font-family: proxima-nova;
  font-weight: 600;
  font-size: 14px;
  color: var(--grey-dark);
  margin: 0;
}

.card-dynamic-content {
  font-family: proxima-nova;
  font-weight: normal;
  font-size: 12px;
  color: var(--grey);
  margin: 0;
}
.card-datetime {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4em;
}
.card-datetime__date,
.card-datetime__time {
  font-family: proxima-nova;
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  color: var(--grey);
}

/* ######  icon Color clases ####### */
/* call, Voicemail */
.event-icon.call .event-icon__background,
.event-icon.voicemail .event-icon__background {
  background-color: var(--teal);
  opacity: 0.1;
}

.event-icon.call .event-icon__icon,
.event-icon.voicemail .event-icon__icon {
  height: 1em;
  color: var(--teal);
}

/* success, email_relply, sent_email */
.event-icon.success .event-icon__background,
.event-icon.email_reply .event-icon__background,
.event-icon.sent_email .event-icon__background {
  background-color: var(--indigo);
  opacity: 0.1;
}

.event-icon.success .event-icon__icon,
.event-icon.email_reply .event-icon__icon,
.event-icon.sent_email .event-icon__icon {
  height: 1em;
  color: var(--indigo);
}

/* added_to_cadence */
.event-icon.added_to_cadence .event-icon__background {
  background-color: var(--blue);
  opacity: 0.1;
}

.event-icon.added_to_cadence .event-icon__icon {
  height: 1em;
  color: var(--blue);
}
